$title-color-white: rgb(255, 255, 255);
$title-color-green: #bbd1ef;

$text-color-green: rgb(40, 61, 59);

$main-btn-color: rgb(25, 114, 120);
$hover-btn-color: rgb(16, 209, 193);

$color-shadows-beig: rgb(179, 179, 179);
$color-shadow-darkBlue: rgba(10, 37, 64, 0.35);
$color-hadow-darkPurple: rgba(50, 50, 93, 0.25);
$color-shadow-black-dif07: rgba(0, 0, 0, 0.07);
$color-shadow-black-dif01: rgba(0, 0, 0, 0.1);
$color-shadow-black-dif04: rgba(0, 0, 0, 0.4);

$color-salmon: rgb(187, 110, 42);
$color-deeppink: rgb(255, 20, 147);
$color-yellow: rgb(255, 215, 0);

//nuevos estilos
$color-footer-background: rgb(0, 0, 0);
$color-error-background: hwb(7 28% 7% / 0.901);
$color-success-background:rgb(166, 234, 166);
$color-btn-pay-background: #5469d4;
