@use "./colors";
@mixin shadow-login {
  box-shadow: colors.$color-hadow-darkPurple 0px 50px 100px -20px,
    colors.$color-shadow-black-dif04 0px 30px 60px -30px,
    colors.$color-shadow-darkBlue 0px -2px 6px 0px inset;
}
@mixin shadow-portada {
  box-shadow: colors.$color-shadow-black-dif01 0px 4px 12px;
}
@mixin shadow-btn {
  border-radius: 26px;
  background: colors.$hover-btn-color;
  box-shadow: 22px 22px 44px colors.$color-shadows-beig,
    -22px -22px 44px colors.$title-color-white;
}
@mixin shadow-cards {
  box-shadow: colors.$color-shadow-black-dif07 0px 1px 2px,
    colors.$color-shadow-black-dif07 0px 2px 4px,
    colors.$color-shadow-black-dif07 0px 4px 8px,
    colors.$color-shadow-black-dif07 0px 8px 16px,
    colors.$color-shadow-black-dif07 0px 16px 32px,
    colors.$color-shadow-black-dif07 0px 32px 64px;
}
@mixin shadow-img {
  box-shadow: colors.$color-shadow-black-dif01 0px 4px 12px;
}
@mixin shadow-hover {
  box-shadow: colors.$color-shadow-black-dif04 0px 30px 90px;
}
