@use "./colors";
@use "./backgrounds" as background;
@use "./shadows" as shadow;
@use "./flex-mix.scss" as alignament;

* {
  margin: 0;
  padding: 0;
}
html,
body,
#root,
.App {
  height: 100%;
 
}
body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;


  header {
    @include background.nav-background-gradiant;
    @include alignament.horizontal-center-gap(row, space-between, 0.5rem);
    flex-direction: row-reverse;
  }

  footer {

    color: colors.$title-color-green;
    font-weight: bolder;
    padding-top: 20px;
    background-color: colors.$color-footer-background;
   @include background.nav-background-gradiant;
    @include alignament.horizontal-vertical(center, end);
  }
}

.sing-out {
  text-align: right;
  color: colors.$text-color-green;
  padding: 20px 0px 0 50px;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  transition: 3s;
  @extend .sing-out;
}
.sing-out:hover {
  color: colors.$title-color-white;
}
.mainLayoutNav{
  background-color: colors.$title-color-green;
  color: colors.$title-color-white;
}

.form-center-container {

  padding: 2rem;
}
.form-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.crafty{
  color:colors.$color-footer-background;
  font-size: 1.5rem;
  font-weight: bolder;
}
.icon-style{
  color: colors.$title-color-green;
  padding: 20px;
  font-weight: bolder;
  width: 100%;
  text-align: center;
  font-weight: bolder;
 
}
.icon-style:hover{
  color: colors.$title-color-white;
}
// .info-box{
//   border: 1px solid;
//   height: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

// }

.cardInfo{
  @include alignament.horizontal-center-gap(column, center, 3);
  width: 100%;
  border: 1px solid red;
  
}
.perfil{
  @include alignament.horizontal-center-gap(column, center, 3);
  padding: 1rem;

}
.perfil-info{
  @include alignament.horizontal-vertical-gap(column, center, 1rem);
  
}
.card-perfil{
  width: 100%;
  @include shadow.shadow-cards;
  // background-color:colors.$color-footer-background;
  background-color: #ff7874;
  cursor: pointer;
 
}
h2{
  color:colors.$title-color-green;
}
.carousel-items{
  height: 200px;
}