@use "./colors";
@use "./backgrounds" as background;
@use "./shadows" as shadow;
@use "./flex-mix.scss" as alignament;

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;


  header {
    @include background.nav-background-gradiant;
    @include alignament.horizontal-center-gap(row, space-between, 0.5rem);
    flex-direction: row-reverse;
  }

  footer {

    color: colors.$title-color-green;
    font-weight: bolder;
    padding-top: 20px;
    background-color: colors.$color-footer-background;
    @include background.nav-background-gradiant;
    @include alignament.horizontal-vertical(center, end);
  }
}


.mainLayoutNav {
  background-color: colors.$title-color-green;
  color: colors.$title-color-white;
}

.font-link {
  color:white;
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .5s;
}

.font-link:hover {
  text-decoration: underline;
}

.form-center-container {
  padding: 2rem;
}

.crafty {
  color: colors.$color-footer-background;
  font-size: 2.5rem;
  font-weight: bolder;
}
.cardInfo {
  @include alignament.horizontal-center-gap(column, center, 3);
  width: 100%;
}

.perfil {
  @include alignament.horizontal-center-gap(column, center, 3);
  padding: 1rem;

}

.perfil-info {
  @include alignament.horizontal-vertical-gap(column, center, 1rem);

}

.card-perfil { 
  @include shadow.shadow-cards;
  // background-color:colors.$color-footer-background;
  cursor: pointer;
}

.info-user {
  margin: 20px;
  padding: 20px;
  @include shadow.shadow-cards;
  @include alignament.center-content(row, center, center, .5rem);

}

.info-card-seller {
  margin: 20px;
  padding: 20px;
  @include alignament.center-content(row, center, center, .5rem);
}

.icon-click {
  cursor: pointer;
  transition: 2s;
}
.seller {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  padding: 20px;
}
.dates-update {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 20px;
}
.icon-check {
  color: colors.$title-color-green;
}
.icon-uncheck {
  color: colors.$color-footer-background;
}

.icon-create {
  background-color: colors.$color-footer-background;
}
.text-payment-process {
  color: colors.$color-btn-pay-background;
  text-align: center;
  font-size: 2rem;
}

.comment {
  width: 100%;
  height: auto;
}
.comment-text-area {
  width: 100%;
  height: auto;
}
.textinput {
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}
.cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .3em;
}

.process {
  margin: 20px;
  @include alignament.horizontal-vertical(center, start)
}

.process-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}