@use "./colors";

.error{
  background-color: colors.$color-error-background;
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-weight: bolder;
  border-radius: 10px;
}

.success{
  background-color: colors.$color-success-background;
  padding: 20px;
  text-align: center;
}