@use "./colors";

.title {
  color: colors.$title-color-white;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
  transition: 2s;
}

h2, h3, h4{
  color:rgb(35, 35, 222);
  text-align: center;
}